{% extends 'base.html' %}

{%block content%}
    <!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Facturas por Emisor (Vista General)</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                        <thead>
                        <tr>
                            <th>Folio</th>
                            <th>Serie</th>
                            <td>Nombre</td>
                            <td>RFC</td>
                            <td>Total</td>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Folio</th>
                            <th>Serie</th>
                            <td>Nombre</td>
                            <td>RFC</td>
                            <td>Total</td>
                        </tr>
                        </tfoot>

                        <tbody>
                        {%for datadisplay in sqlserverconn%}
                        <tr>
                            <td>{{datadisplay.folio}}</td>
                            <td>{{datadisplay.serie}}</td>
                            <td>{{datadisplay.nombre}}</td>
                            <td>{{datadisplay.rfc}}</td>
                            <td>{{datadisplay.total}}</td>
                        </tr>
                         {%endfor%}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
</div>
                <!-- /.container-fluid -->
<!-- Page level custom scripts -->
{%endblock content%}