<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connets to SQL server from django</title>

</head>
<body>
<center>
    <h1>Facturas por Emisor (Vista General)</h1>
    <h2>Emisor</h2>
    <hr/>
    <table border="1">
        <tr>
            <th>Folio</th>
            <th>Serie</th
            <td>Nombre</td>
            <td>RFC</td>
            <td>Total</td>
        </tr>
        {%for datadisplay in sqlserverconn%}
        <tr>
            <td>{{datadisplay.folio}}</td>
            <td>{{datadisplay.serie}}</td>
            <td>{{datadisplay.nombre}}</td>
            <td>{{datadisplay.rfc}}</td>
            <td>{{datadisplay.total}}</td>
        </tr>
        {%endfor%}
    </table>
</center>
</body>
</html>